
# UE
Content/StarterContent/
Saved/
Intermediate/
Binaries/
DerivedDataCache/*

# Builds
Build/*

# Visual Studio
.vs/
.vsconfig

Content/Geometry/Meshes/1M_Cube.uasset
Content/Geometry/Meshes/1M_Cube_Chamfer.uasset
Content/Geometry/Meshes/CubeMaterial.uasset
Content/Geometry/Meshes/TemplateFloor.uasset
Content/Mannequin/Animations/ThirdPerson_AnimBP.uasset
Content/Mannequin/Animations/ThirdPerson_IdleRun_2D.uasset
Content/Mannequin/Animations/ThirdPerson_Jump.uasset
Content/Mannequin/Animations/ThirdPersonIdle.uasset
Content/Mannequin/Animations/ThirdPersonJump_End.uasset
Content/Mannequin/Animations/ThirdPersonJump_Loop.uasset
Content/Mannequin/Animations/ThirdPersonJump_Start.uasset
Content/Mannequin/Animations/ThirdPersonRun.uasset
Content/Mannequin/Animations/ThirdPersonWalk.uasset
Content/Mannequin/Character/Materials/M_Male_Body.uasset
Content/Mannequin/Character/Materials/M_UE4Man_ChestLogo.uasset
Content/Mannequin/Character/Materials/MI_Female_Body.uasset
Content/Mannequin/Character/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Content/Mannequin/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Content/Mannequin/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Content/Mannequin/Character/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Content/Mannequin/Character/Mesh/SK_Mannequin.uasset
Content/Mannequin/Character/Mesh/SK_Mannequin_Female.uasset
Content/Mannequin/Character/Mesh/SK_Mannequin_Female_PhysicsAsset.uasset
Content/Mannequin/Character/Mesh/SK_Mannequin_PhysicsAsset.uasset
Content/Mannequin/Character/Mesh/UE4_Mannequin_Skeleton.uasset
Content/Mannequin/Character/Textures/T_Female_Mask.uasset
Content/Mannequin/Character/Textures/T_Female_N.uasset
Content/Mannequin/Character/Textures/T_Male_Mask.uasset
Content/Mannequin/Character/Textures/T_Male_N.uasset
Content/Mannequin/Character/Textures/T_UE4Logo_Mask.uasset
Content/Mannequin/Character/Textures/T_UE4Logo_N.uasset
Content/ThirdPerson/Meshes/Bump_StaticMesh.uasset
Content/ThirdPerson/Meshes/LeftArm_StaticMesh.uasset
Content/ThirdPerson/Meshes/Linear_Stair_StaticMesh.uasset
Content/ThirdPerson/Meshes/Ramp_StaticMesh.uasset
Content/ThirdPerson/Meshes/RampMaterial.uasset
Content/ThirdPerson/Meshes/RightArm_StaticMesh.uasset
Content/ThirdPersonCPP/Blueprints/ThirdPersonCharacter.uasset
Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap.umap
Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap_BuiltData.uasset
